.about{
    background-color: antiquewhite;
    padding: 20px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}
.head{
    font-size: 30px;
    margin: 20px 0;
}
.paragraph{
    font-size: 18px;
    margin: 10px 0;
    line-height: 1.5;

}
.link{
    color: blue;
    text-decoration: underline;
    transition: all 0.3s;
    margin: 0 10px;
    &:hover{
        color: darkblue;
    }
}