.contact{
    background-color: blanchedalmond;
    padding: 20px;
    margin-top: 50px;
    height: 500px;
}
.input{
  padding: 10px;
  &:focus{
    outline: none;
    border: 2px solid blue;
    box-shadow: none;
  }
}
